---
import Layout from '../layouts/Layout.astro';
import BackButton from '../components/BackButton.astro';

---

<Layout title="About Koustubha">
  <BackButton />
  <div class="relative min-h-screen">
    <!-- Rest of the about page content remains the same -->
    <!-- Previous content -->
  </div>
</Layout>