---
import Layout from '../layouts/Layout.astro';
import BackButton from '../../components/BackButton.astro';

---

<Layout title="Contact">
  <BackButton />
  <div class="pt-20 pb-16">
    <!-- Rest of the contact page content remains the same -->
    <!-- Previous content -->
  </div>
</Layout>